<div class="row">
  <div class="col-md-6">
    <%= simple_form_for(@product) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <%= f.input :id, disabled: true %>
      <%= f.input :name %>
      <%= f.button :submit, class: "btn-primary" %>
      <%= link_to "Cancel", :back, {:class=>"btn btn-default"} %>
    <% end %>
  </div>
  <div class="col-md-4">
  </div>
</div>
