<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @product.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Current Stock:</strong>
  <%= @product.current_stock %>
</p>

<%= link_to 'Edit', edit_product_path(@product), {:class=>"btn btn-primary"} %>
<%= link_to "Back", :back, {:class=>"btn btn-default"} %>
