<!DOCTYPE html>
<html>
  <head>
    <title>NanditaNutritionClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/navbar', :formats => [:html] %>
      <%= yield %>
    </div>
  </body>
  <script>
      $(document).ready(function() {
          $('.select.select2 select').select2();
      });
  </script>
</html>
