<div class="row">
  <div class="col-md-6">
    <%= simple_form_for(@member) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <%= f.input :id, disabled: true %>
      <%= f.input :name %>
      <%= f.input :date_of_birth, start_year: Date.today.year - 90, end_year: Date.today.year - 12 %>
      <%= f.input :age , disabled: true %>
      <%= f.input :mobile %>
      <%= f.button :submit, class: "btn-primary" %>
      <%= link_to "Cancel", :back, {:class=>"btn btn-default"} %>
    <% end %>
  </div>
  <div class="col-md-44">
  </div>
</div>
