<div class="row">
  <div class="col-md-6">
    <%= simple_form_for(@member) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <%= f.input :id, disabled: true %>
      <%= f.input :name %>
      <%= f.input :membership_type, collection: [:Trial, :GUMS], :selected => f.object.membership_type || :Trial %>
      <%= f.association :coach, :wrapper_class => 'select2' %>
      <%= f.input :date_of_birth, as: :datepicker %>
      <%= f.input :date_of_joining, as: :datepicker, input_html: {value: f.object.date_of_joining || Date.today.strftime('%d/%m/%Y')}  %>
      <%= f.input :age , disabled: true %>
      <%= f.input :mobile %>
      <%= f.button :submit, class: "btn-primary" %>
      <%= link_to "Cancel", :back, {:class=>"btn btn-default"} %>
    <% end %>
  </div>
  <div class="col-md-4">
  </div>
</div>
