<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Mobile</th>
      <th>Date of birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.age %></td>
        <td><%= member.mobile %></td>
        <td><%= member.date_of_birth %></td>
        <td><%= button_to 'Show', member_path(member), :method => :get, :class => "btn btn-primary"  %></td>
        <td><%= button_to 'Edit', edit_member_path(member), :method => :get, :class =>  "btn btn-default"  %></td>
        <td><%= button_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Member', new_member_path, :method => :get, :class => 'btn btn-default' %>
