<p id="notice"><%= notice %></p>

<h1>Members</h1>

<%= link_to 'New Member', new_member_path, :class => 'btn btn-primary' %>

<table  class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <th scope="col"><%= member.id %></th>
        <td><%= member.name %></td>
        <td><%= member.mobile %></td>
        <td>
          <div>
            <%= link_to 'Show', member, :class => 'btn btn-primary' %>
            <%= link_to 'Edit', edit_member_path(member), :class => 'btn btn-default' %>
            <%= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

