<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @member.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @member.age %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @member.mobile %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @member.date_of_birth %>
</p>

<p>
  <strong>Date of joining:</strong>
  <%= @member.date_of_joining %>
</p>

<%= link_to 'Edit', edit_member_path(@member), {:class=>"btn btn-primary"} %>
<%= link_to "View All", members_path, {:class=>"btn btn-default"} %>
